In [2]:
import pandas as pd
df = pd.read_csv("data\spotify.csv")

In [3]:
df.head()

,track_id,track_name,artist_name,album_name,release_date,genre,duration_ms,popularity,danceability,energy,key,loudness,mode,instrumentalness,tempo,stream_count,country,explicit,label
0,TRK-BEBD53DA84E1,Agent every (0),Noah Rhodes,Beautiful instead,2016-04-01,Pop,234194,55,0.15,0.74,9,-32.22,0,0.436,73.12,13000,Brazil,0,Universal Music
1,TRK-6A32496762D7,Night respond,Jennifer Cole,Table,2022-04-15,Metal,375706,45,0.44,0.46,0,-14.02,0,0.223,157.74,1000,France,1,Island Records
2,TRK-47AA7523463E,Future choice whatever,Brandon Davis,Page southern,2016-02-23,Rock,289191,55,0.62,0.80,8,-48.26,1,0.584,71.03,1000,Germany,1,XL Recordings
3,TRK-25ADA22E3B06,Bad fall pick those,Corey Jones,Spring,2015-10-12,Pop,209484,51,0.78,0.98,1,-34.47,1,0.684,149.00,1000,France,0,Warner Music
4,TRK-9245F2AD996A,Husband,Mark Diaz,Great prove,2022-07-08,Indie,127435,39,0.74,0.18,10,-17.84,0,0.304,155.85,2000,United States,0,Independent

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          85000 non-null  object
 1   track_name        84979 non-null  object
 2   artist_name       85000 non-null  object
 3   album_name        84954 non-null  object
 4   release_date      85000 non-null  object
 5   genre             85000 non-null  object
 6   duration_ms       85000 non-null  int64
 7   popularity        85000 non-null  int64
 8   danceability      85000 non-null  float64
 9   energy            85000 non-null  float64
 10  key               85000 non-null  int64
 11  loudness          85000 non-null  float64
 12  mode              85000 non-null  int64
 13  instrumentalness  85000 non-null  float64
 14  tempo             85000 non-null  float64
 15  stream_count      85000 non-null  int64
 16  country           85000 non-null  object
 17  explicit          85000 non-null  int64
 18  label             85000 non-null  object
dtypes: float64(5), int64(6), object(8)
memory usage: 12.3+ MB

In [7]:
df.describe(include='all')

,track_id,track_name,artist_name,album_name,release_date,genre,duration_ms,popularity,danceability,energy,key,loudness,mode,instrumentalness,tempo,stream_count,country,explicit,label
count,85000,84979,85000,84954,85000,85000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,85000.000000,8.500000e+04,85000,85000.000000,85000
unique,85000,68951,62391,43170,4018,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,8
top,TRK-BEBD53DA84E1,Stand,Michael Smith,Visit,2018-01-03,Metal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,India,NaN,Independent
freq,1,32,44,64,40,7200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8629,NaN,10767
mean,NaN,NaN,NaN,NaN,NaN,NaN,254913.824294,48.162894,0.520710,0.505412,5.515988,-27.999300,0.500141,0.399781,129.948351,2.143547e+05,NaN,0.201329,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,95300.233207,14.829752,0.270799,0.279774,3.454069,15.598365,0.500003,0.231470,40.444321,1.680637e+06,NaN,0.400996,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,90004.000000,0.000000,0.050000,0.020000,0.000000,-55.000000,0.000000,0.000000,60.000000,1.000000e+03,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,171871.500000,38.000000,0.290000,0.260000,2.750000,-41.470000,0.000000,0.198000,94.840000,1.000000e+03,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,254920.500000,47.000000,0.520000,0.500000,6.000000,-27.970000,1.000000,0.399000,129.990000,2.000000e+03,NaN,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,337203.250000,57.000000,0.760000,0.750000,9.000000,-14.500000,1.000000,0.600000,165.030000,9.000000e+03,NaN,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,420000.000000,100.000000,0.990000,0.990000,11.000000,-1.000000,1.000000,0.800000,200.000000,2.000000e+07,NaN,1.000000,NaN

In [8]:
df.isnull().sum()

track_id             0
track_name          21
artist_name          0
album_name          46
release_date         0
genre                0
duration_ms          0
popularity           0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
instrumentalness     0
tempo                0
stream_count         0
country              0
explicit             0
label                0
dtype: int64

In [13]:
df[['track_name', 'album_name']] = (
    df.groupby('artist_name')[['track_name', 'album_name']]
    .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else x))
)

C:\Users\malai\AppData\Local\Temp\ipykernel_19944\2685216813.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else x))

In [15]:
df.duplicated().sum()

0

In [16]:
df = df.drop_duplicates()

In [17]:
df.isnull().sum()

track_id             0
track_name          13
artist_name          0
album_name          27
release_date         0
genre                0
duration_ms          0
popularity           0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
instrumentalness     0
tempo                0
stream_count         0
country              0
explicit             0
label                0
dtype: int64

In [19]:
df.isnull().sum()

track_id             0
track_name          13
artist_name          0
album_name          27
release_date         0
genre                0
duration_ms          0
popularity           0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
instrumentalness     0
tempo                0
stream_count         0
country              0
explicit             0
label                0
dtype: int64

In [20]:
df = df.dropna(axis=1)

In [21]:
df.isnull().sum()

track_id            0
artist_name         0
release_date        0
genre               0
duration_ms         0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
instrumentalness    0
tempo               0
stream_count        0
country             0
explicit            0
label               0
dtype: int64

In [22]:
df.shape

(85000, 17)

In [23]:
len(df.columns)

17

In [24]:
df.duplicated().sum()

0

In [25]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [33]:
df.dtypes

track_id                    object
artist_name                 object
release_date        datetime64[ns]
genre                       object
duration_ms                  int64
popularity                   int64
danceability               float64
energy                     float64
key                          int64
loudness                   float64
mode                        object
instrumentalness           float64
tempo                      float64
stream_count                 int64
country                     object
explicit                      bool
label                       object
dtype: object

In [31]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['explicit'] = df['explicit'].astype(bool)
df['mode'] = df['mode'].map({0: 'Minor', 1: 'Major'})

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          85000 non-null  object
 1   artist_name       85000 non-null  object
 2   release_date      85000 non-null  datetime64[ns]
 3   genre             85000 non-null  object
 4   duration_ms       85000 non-null  int64
 5   popularity        85000 non-null  int64
 6   danceability      85000 non-null  float64
 7   energy            85000 non-null  float64
 8   key               85000 non-null  int64
 9   loudness          85000 non-null  float64
 10  mode              85000 non-null  object
 11  instrumentalness  85000 non-null  float64
 12  tempo             85000 non-null  float64
 13  stream_count      85000 non-null  int64
 14  country           85000 non-null  object
 15  explicit          85000 non-null  bool
 16  label             85000 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(4), object(6)
memory usage: 10.5+ MB

In [35]:
df.shape
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track_id          85000 non-null  object
 1   artist_name       85000 non-null  object
 2   release_date      85000 non-null  datetime64[ns]
 3   genre             85000 non-null  object
 4   duration_ms       85000 non-null  int64
 5   popularity        85000 non-null  int64
 6   danceability      85000 non-null  float64
 7   energy            85000 non-null  float64
 8   key               85000 non-null  int64
 9   loudness          85000 non-null  float64
 10  mode              85000 non-null  object
 11  instrumentalness  85000 non-null  float64
 12  tempo             85000 non-null  float64
 13  stream_count      85000 non-null  int64
 14  country           85000 non-null  object
 15  explicit          85000 non-null  bool
 16  label             85000 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(4), object(6)
memory usage: 10.5+ MB

track_id            0
artist_name         0
release_date        0
genre               0
duration_ms         0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
instrumentalness    0
tempo               0
stream_count        0
country             0
explicit            0
label               0
dtype: int64

In [36]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [37]:
df.to_csv("spotify_final_cleaned.csv", index=False)